body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0px;
	padding:0px;
}

/* get back the awful blue line of browsers */
input:focus {
    outline: none;
}

@font-face {
    font-family: textEdit;
    src: url(../FONT/SourceCodePro-Regular.ttf);
}

body {
    margin: 1em;
    background: #000;
    font-family: textEdit, monospace;
    font-size: 0.8em; 
    color: #FFF;
}

canvas {
    box-sizing:border-box;
    background: #000;
    padding: 0px;
    margin: 0px;
    display:block;
}

input, button {
    font-family: textEdit;
    color: #FFF;
    background: #000;
    border: solid 1px #FFF;
    box-shadow: none;
}

input[type="text"]:focus, input[type="number"]:focus {
    background: rgb(252, 10, 123);
    border: solid 1px #fc0a7b;
    box-shadow: 0 0 5px 1px #FFF;
}

input[type="button"]:hover {
    background: rgb(252, 10, 123);
    border: solid 1px #fc0a7b;
    box-shadow: 0 0 5px 1px #FFF;
}

table, th, td {
    box-sizing: border-box;
    border: 1px solid #FFF;
    border-collapse: collapse;
}

table {
    table-layout:fixed;
    /*margin: auto;*/

}
  
td {
    height: 16px;
}

.toolbar{
    margin: 5px 0px;
    padding: 1px;
    background: #000;
}